.tooltip__container {
  position: relative;
  display: inline-block;
}

.tooltip__container.underline {
  border-bottom: 3px solid #CCC;
}

.tooltip__tip {
  display: none;
  position: absolute;
  width: 300px; 
  box-sizing: border-box;
}

.tooltip__container--top .tooltip__tip {
  bottom: 100%;
}

.tooltip__container--bottom .tooltip__tip {
  top: 100%;
}

.tooltip__tip-content {
  position: relative;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  line-height: 13px;
  background-color: #FFF;
}

.tooltip__tip-content::after {
  content: '';
  position: absolute;
  left: 8px;
  width: 0; 
  height: 0; 
}

.tooltip__container--top .tooltip__tip-content::after {
  bottom: -6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.tooltip__container--bottom .tooltip__tip-content::after {
  top: -6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
}

.tooltip__container:hover .tooltip__tip {
  display: block;
}